logs/
.history
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
dist/
.idea/
run/
.DS_Store
*.sw*
*.un~
.tsbuildinfo
.tsbuildinfo.*
*.tgz
npminstall-debug.log
src/public/
/view
.env
layer/layer.zip
npminstall-debug.log
server.zip
pnpm-lock.yaml
